
.music-banner {
    height: 245px;  
    position: relative;
    overflow: hidden;
}
.music-banner span {
    position: absolute;
    display: inline-block;   
    color: #fff;
    font-weight: 700;
    opacity: 0.5;
    top: 120px;
    left: 200px;
    font-size: 62px;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
}
.music-banner:before {
    content: "";
    background: #1b214e;
    opacity: 0.55;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.music-banner > img{
    width: 100%;
}

.music-banner img{
    margin-top: -104px;
}

.music-banner + .g-layout{
    padding-top: 74px;
}
.album-block h2{
    font-size: 30px;
    text-align: left;
    padding-bottom: 33px;
    padding-top: 0;
    font-weight: 600;
    color: #807c9c;
}
.album-block{
    padding-top: 0;
}

@media only screen and (max-width: 767px) {
    .music-banner{
        height: 100px;
    }
    .music-banner span {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        line-height: 100px;
        font-size: 40px;
    }
    .music-banner + .g-layout{
        padding-top: 10px;
    }      
    .album-block h2{
        padding-bottom: 23px;
        font-size: 22px;
    }
}