h2{
    font-size: 30px;
    text-align: left;
    padding-bottom: 33px;
    padding-top: 0;
    font-weight: 600;
}

.album li {
    position: relative;
    font-size: 0;
    margin: 0;
    padding-bottom: 50px;
}
h3{
    font-size: 30px;    
    margin: 0;
    line-height: 1;
    padding-bottom: 18px;
}
.body{
    display: none;
    color: #f6f5fd;
    opacity: .72;
    left: 1rem;
    right: 1rem;
    bottom: 50px;
    padding: 20px 20px 20px 25px;
    background: #000000;    
    position: absolute;
}
.content {
    cursor: pointer;
}
.album li:hover .body{
    display: block;
}
span {
    font-size: 19px;
    font-family: proxima-nova-condensed;
    text-transform: uppercase;
}
.albumArt {
    position: relative;
}
li:hover .albumArt:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27,33,78,0.78);
}
@media only screen and (max-width: 767px) {
    .body{
        position: relative;
        left: 0;
        right: 0;
        bottom: initial;
        background: transparent;
        color: #1b214e;
        display: block;
        padding: 10px 0 0 0;
    }
    h3{
        padding-bottom: 5px;
        font-size: 10px;
    }
    span {
        font-size: 10px;
    }
    .album li {
        padding-bottom: 18px;
    }
    .album-block{
        padding-bottom: 45px;
    }
}
