h2{
    text-align: left;
    font-size: 30px;
    padding: 0 0 15px 0;  
    color: #f6f5fd;
    font-weight: 600;
    display: inline-block;
    line-height: 1.25;
}
.created{
    font-size: 19px;
    color: #807c9c;
    font-family: proxima-nova-condensed;
    font-weight: 600;
    padding-bottom: 50px;
    text-transform: uppercase;
}
.body {
    padding-top: 25px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
    color:#f6f5fd;
}
.landing-block{
    padding-bottom: 0;
    position: relative;
}
.landing-block .video{
    width: 60%;   
    display: inline-block;
} 
.landing-block .header {
    position: absolute;
    top: 0;
    left: 62%;
    height: 100%;
    width: 35%;
    padding-top: 12%;
}
.landing-block .body{
    padding: 0;
    display: none;
}

@media only screen and (max-width: 767px) {
    h2{
        font-size: 22px;
        padding: 0;
        line-height: 1.4;
    }
    .created{
        padding-bottom: 30px;
    }
    .landing-block .video{
        width: 100%;
    } 
    .landing-block .body{
        display: none;
    }
    .landing-block .header{
        top: 0;
        padding-top: 10px;
        width: 100%;
        left: 0;
        position: relative;
    }
    .landing-block .header h2 {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .landing-block .header .created{
        font-size: 16px;
    }
}
@media screen and (min-width:1024px){
    .responsive-video-container {
        width: 90%;
        margin: 0 auto;
    }
}